@font-face {
    font-family: sohne-var;
    src: url("../fonts/Sohne.woff2") format("woff2-variations");
    font-weight: 300;
    font-display: block;
}

@font-face {
    font-family: sohne-mono;
    src: url("../fonts/SohneMono-Buch.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}